---
export const prerender = true;
const source = Astro.url.searchParams.get('utm_source');
const targetUrl = `https://ti.to/sheffield-compsoc/hacksheffield-9?utm_source=${source}`; // Replace with the URL you want to redirect to.
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="refresh" content=`0;url=https://ti.to/sheffield-compsoc/hacksheffield-9?utm_source=${source}` />
        <title>Redirecting...</title>
        <link rel="canonical" href=`https://ti.to/sheffield-compsoc/hacksheffield-9?utm_source=${source}` />
        <script>
        const source = new URLSearchParams(window.location.search).get('utm_source');
        setTimeout(() => {
            window.location.href = `https://ti.to/sheffield-compsoc/hacksheffield-9?utm_source=${source}`;
        }, 0);
        </script>
    </head>
    <body>
        <p>
        If you are not redirected automatically, <a href=`https://ti.to/sheffield-compsoc/hacksheffield-9?utm_source=${source}`
            >click here</a>.
        </p>
    </body>
</html>
